.App{
  background-color: #4ABDAC;
  height: 100vh;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.ingredients-select{
  width: 30vw;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #DFDCE3;
  color: white;

  display: flex;
  flex-direction: column;
}

.recipe-display{
  width: 70vw;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #DFDCE3;
  color: white;
}